*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.container{
    /* width: 500px;
    height: 500px;
    border: 1px solid black; */
    background-color: yellow;
    height: 600px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content:center
}
.container > div{
    width: 200px;
    border:2px solid black;
}
.red{
    background-color: red;
    padding:5px;
    height: 100px;
    /* align-self:flex-start; */
    width: 100px;
    flex-shrink: 1;
    flex-grow: 0;
    /* flex: flex-grow shrink basis */
    flex: 0 1 auto;
}

.blue{
    background-color: blue;
    padding: 10px
}
.green{
    background-color: green;
    width: 200px;
    height: 200px;
    flex-basis: 100px; /*flex-direction= row ===> width   ||   column ===> height*/
}
.orange{
    background-color: orange;
    height: 50px;
}
