body {
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin: auto;
  }
  
  .to_do_input {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .to_do_name {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 80%;
  }
  
  .to_do_add_btn {
    background-color: #4c53af;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 20%;
    cursor: pointer;
  }
  .to_do_list_container {
    margin-top: 20px;
    width: 100%;
  }
  .to_do_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .to_do_list li {
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .to-do-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .actions span {
    cursor: pointer;
  }
  
  .to_do_done {
    background-color: #4c53af;
    color: #fff;
  }
  
  
  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
  }